@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');

:root {
    --light: #e2e8f0;
    --dark: rgb(81, 80, 85);
    --dark-lighten: rgb(255, 255, 255);
    --success: #31b907;
    --fail: #c40000;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
}

#content {
    /* width: 100%;
    height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 20px; */
    font-size: 1.1rem;
}

input {
    font-size: 1rem;
    padding: 6px 15px;
    border: 0;
    border-radius: 5px;
    background-color: var(--dark-lighten);
    color: black;
}

.error {
    color: rgb(228, 90, 90);
    font-style: italic;
    font-size: 0.9rem;
    height: 20px;
}

.invalid {
    background-color: #9b4747;
    color: white;
}

.valid {
    background-color: #578f46;
    color: white;
}

#submit {
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: transparent;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 20px;
}

#submit:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in;
}
